<!-- <header>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6" id="sep">
                    <div class="d-flex justify-content-start ">
                <img src="assets/img/imgHeader/tool.jpg" alt="">
                    </div>
                <p>a</p>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" id="sep2">
                <div class="d-flex justify-content-start ">
                    <a class=" dropdown-toggle" href="#" id="categoria" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cambiar catalogo</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-6" id="sep3">
                <div class="d-flex justify-content-end">
                    <ul class="list-inline" id="menuPrincipal">
                        <li class="list-inline-item">Lorem</li>
                        <li class="list-inline-item">Phasellus</li>
                        <li class="list-inline-item">Nulla </li>
                        <a class=" dropdown-toggle" href="#" id="categoria" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cesar Lima</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </ul>
                </div>


            </div>
        </div>
    </div>
    <div class="container-fluid" id="sep4">
        <p>d</p>
    </div>
    <div class="container-fluid" id="sep5">
        <p>e</p>
    </div> -->
<!--  <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 ">
                <img class="image-responsive" id="logo" src="assets/img/imgHeader/tool.jpg" alt="Logo de la empresa">
            </div>

            <div class="col-lg-3 col-md-3 " id="catalogo">
                <a class=" dropdown-toggle" href="#" id="categoria" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cambiar catalogo</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>

            <div class="col-lg-4 offset-lg-2 col-md-6">
                <ul class="list-inline" id="menuPrincipal">
                    <li class="list-inline-item">Lorem</li>
                    <li class="list-inline-item">Phasellus</li>
                    <li class="list-inline-item">Nulla </li>
                    <a class=" dropdown-toggle" href="#" id="categoria" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cesar Lima</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </ul>
            </div>


        </div>
    </div> -->

<!-- </header> -->











<header>
    <div class="container">
        <div class="d-flex">
            <div class="p-2">
                <img class="img-responsive" id="logoHeader" src="assets/img/imgHeader/tool.jpg" alt="" srcset=""></div>
            <div class="p-2">
            </div>
            <div class="ml-auto p-2">
                <nav class="navegacion">
                    <a href="">Pedidos</a>
                    <a href="">Registro</a>
                    <a href="">Ayuda</a>
                    <a class=" dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cesar Lima</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid " id="imgHead">
    <div class="d-flex justify-content-center">
        <p id="temporada"> PRIMAVERA 2019 </p>
    </div>
</div>


<nav id="navMenu">

    <div class="d-flex justify-content-center">
        <div class="vl"></div>
        <a class=" dropdown-toggle" href="#" id="categoria" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Compra por Categoría</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
        <div class="vl"></div>
        <input type="text" name="" id="search" placeholder="¿Que estas buscando?">

        <div class="vl"></div>
        <a class=" dropdown-toggle" href="#" id="cart" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-shopping-cart"></i> El carrito esta vacio</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
        <div>
            <button type="button" class="btn btn-raised btn-warning" id="chek">Checkout</button>
        </div>
        <div class="vl"></div>
    </div>
</nav>



<div class="container">
    <div class="row ">
        <div class="col-sm-2 " id="lista" style="margin-left: 79px; ">

            <div class="list-group " id="list-tab " role="tablist ">
                <a class="list-group-item list-group-item-action " id="list-home-list " data-toggle="list " href="#list-home " role="tab " aria-controls="home "><strong> Herramientas </strong></a>
                <div class="progress " style="margin-left: 15px; ">
                    <div class="progress-bar bg-warning " role="progressbar " style="width: 100%; " aria-valuenow="75 " aria-valuemin="0 " aria-valuemax="100 "></div>
                </div>
                <a class="list-group-item list-group-item-action " id="list-profile-list " data-toggle="list " href="#list-profile " role="tab " aria-controls="profile ">Profile</a>
                <a class="list-group-item list-group-item-action " id="list-messages-list " data-toggle="list " href="#list-messages " role="tab " aria-controls="messages ">Messages</a>
                <a class="list-group-item list-group-item-action " id="list-settings-list " data-toggle="list " href="#list-settings " role="tab " aria-controls="settings ">Settings</a>
                <a class="list-group-item list-group-item-action " id="list-home-list " data-toggle="list " href="#list-home " role="tab " aria-controls="home ">Home</a>
                <a class="list-group-item list-group-item-action " id="list-profile-list " data-toggle="list " href="#list-profile " role="tab " aria-controls="profile "><strong>Llaves</strong></a>
                <div class="progress " style="margin-left: 15px; ">
                    <div class="progress-bar bg-warning " role="progressbar " style="width: 100%; " aria-valuenow="75 " aria-valuemin="0 " aria-valuemax="100 "></div>
                </div>
                <a class="list-group-item list-group-item-action " id="list-messages-list " data-toggle="list " href="#list-messages " role="tab " aria-controls="messages ">Messages</a>
                <a class="list-group-item list-group-item-action " id="list-settings-list " data-toggle="list " href="#list-settings " role="tab " aria-controls="settings ">Settings</a>

                <a class="list-group-item list-group-item-action " id="list-profile-list " data-toggle="list " href="#list-profile " role="tab " aria-controls="profile ">Profile</a>

                <a class="list-group-item list-group-item-action " id="list-messages-list " data-toggle="list " href="#list-messages " role="tab " aria-controls="messages ">Messages</a>
                <a class="list-group-item list-group-item-action " id="list-home-list " data-toggle="list " href="#list-home " role="tab " aria-controls="home "><strong>Candados</strong></a>
                <div class="progress " style="margin-left: 15px; ">
                    <div class="progress-bar bg-warning " role="progressbar " style="width: 100%; " aria-valuenow="75 " aria-valuemin="0 " aria-valuemax="100 "></div>
                </div>
                <a class="list-group-item list-group-item-action " id="list-settings-list " data-toggle="list " href="#list-settings " role="tab " aria-controls="settings ">Settings</a>
                <a class="list-group-item list-group-item-action " id="list-settings-list " data-toggle="list " href="#list-settings " role="tab " aria-controls="settings ">Settings</a>
                <a class="list-group-item list-group-item-action " id="list-settings-list " data-toggle="list " href="#list-settings " role="tab " aria-controls="settings ">Settings</a>
                <a class="list-group-item list-group-item-action " id="list-settings-list " data-toggle="list " href="#list-settings " role="tab " aria-controls="settings ">Settings</a>

            </div>
        </div>
        <div class="col-8 ">
            <div class="tab-content " id="nav-tabContent ">
                <div class="tab-pane fade show active " id="list-home " role="tabpanel " aria-labelledby="list-home-list ">
                    <div class="d-flex justify-content-between" style="margin-top: 10px; margin-bottom: 20px;">
                        <a href=""> Vista 1-2 de 5 </a>


                        <div>
                            <a href="" style="color: gray; "><i class="fa fa-bars"></i> List </a>

                            <a href="" class="active"><i class=" fa fa-image"></i> Imagen </a>
                        </div>
                    </div>
                    <div>
                        <p style="background-color: white; margin-top: 10px; padding: 8px;"> General </p>
                    </div>
                    <div class="row ">
                        <div class="col-sm-4">
                            <div class="card">
                                <img class="card-img-top" id="Producto" src="assets/img/catalogLlaves/l1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text"><strong> 9579</strong></p>
                                    <p class="card-text">Some quick example text to build.</p>
                                </div>
                                <div class="card-body">
                                    <div class="qty">
                                        <label class="control-label" for="input-quantity">$200.00<small class="text-muted">pz</small></label>
                                        <a class="qtyBtn mines" href="javascript:void(0);">
                                            <i class="fa fa-minus"></i></a>
                                        <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control" />
                                        <a class="qtyBtn plus" href="javascript:void(0);">
                                            <i class="fa fa-plus"></i></a><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img class="card-img-top" id="Producto" src="assets/img/catalogLlaves/m1.jpg" alt="Card image cap">

                                <div class="card-body">
                                    <p class="card-text"><strong> 9579</strong></p>
                                    <p class="card-text">Some quick example text to build.</p>
                                </div>
                                <div class="card-body">
                                    <div class="qty">
                                        <label class="control-label" for="input-quantity">$200.00<small class="text-muted">pz</small></label>
                                        <a class="qtyBtn mines" href="javascript:void(0);">
                                            <i class="fa fa-minus"></i></a>
                                        <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control" />
                                        <a class="qtyBtn plus" href="javascript:void(0);">
                                            <i class="fa fa-plus"></i></a><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img class="card-img-top" id="Producto" src="assets/img/catalogLlaves/p1.jpg" alt="Card image cap">

                                <div class="card-body">
                                    <p class="card-text"><strong> 9579</strong></p>
                                    <p class="card-text">Some quick example text to build.</p>
                                </div>
                                <div class="card-body">
                                    <div class="qty">
                                        <label class="control-label" for="input-quantity">$200.00<small class="text-muted">pz</small></label>
                                        <a class="qtyBtn mines" href="javascript:void(0);">
                                            <i class="fa fa-minus"></i></a>
                                        <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control" />
                                        <a class="qtyBtn plus" href="javascript:void(0);">
                                            <i class="fa fa-plus"></i></a><br />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4" style="margin-top: 10px;">
                            <div class="card">
                                <img class="card-img-top" id="Producto" src="assets/img/catalogLlaves/l7.jpg" alt="Card image cap">

                                <div class="card-body">
                                    <p class="card-text"><strong> 9579</strong></p>
                                    <p class="card-text">Some quick example text to build.</p>
                                </div>
                                <div class="card-body">
                                    <div class="qty">
                                        <label class="control-label" for="input-quantity">$200.00<small class="text-muted">pz</small></label>
                                        <a class="qtyBtn mines" href="javascript:void(0);">
                                            <i class="fa fa-minus"></i></a>
                                        <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control" />
                                        <a class="qtyBtn plus" href="javascript:void(0);">
                                            <i class="fa fa-plus"></i></a><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" style="margin-top: 10px;">
                            <div class="card">
                                <img class="card-img-top" id="Producto" src="assets/img/catalogLlaves/u1.jpg" alt="Card image cap">

                                <div class="card-body">
                                    <p class="card-text"><strong> 9579</strong></p>
                                    <p class="card-text">Some quick example text to build.</p>
                                </div>
                                <div class="card-body">
                                    <div class="qty">
                                        <label class="control-label" for="input-quantity">$200.00<small class="text-muted">pz</small></label>
                                        <a class="qtyBtn mines" href="javascript:void(0);">
                                            <i class="fa fa-minus"></i></a>
                                        <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control" />
                                        <a class="qtyBtn plus" href="javascript:void(0);">
                                            <i class="fa fa-plus"></i></a><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" style="margin-top: 10px;">
                            <div class="card">
                                <img class="card-img-top" id="Producto" src="assets/img/catalogLlaves/b1.jpg" alt="Card image cap">

                                <div class="card-body">
                                    <p class="card-text"><strong> 9579</strong></p>
                                    <p class="card-text">Some quick example text to build.</p>
                                </div>
                                <div class="card-body">
                                    <div class="qty">
                                        <label class="control-label" for="input-quantity">$200.00<small class="text-muted">pz</small></label>
                                        <a class="qtyBtn mines" href="javascript:void(0);">
                                            <i class="fa fa-minus"></i></a>
                                        <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control" />
                                        <a class="qtyBtn plus" href="javascript:void(0);">
                                            <i class="fa fa-plus"></i></a><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer style="background: black;">






</footer>